bind 0.0.0.0
protected-mode no
port {{ redis_port | default(6379) }}
timeout 0
tcp-keepalive 300

daemonize no
supervised systemd
pidfile /var/run/redis/redis-server.pid

loglevel notice
logfile ""

databases 16

save 900 1
save 300 10
save 60 10000

stop-writes-on-bgsave-error yes
rdbcompression yes
rdbchecksum yes
dbfilename dump.rdb
dir /var/lib/redis

appendonly yes
appendfilename "appendonly.aof"
appendfsync everysec

maxmemory {{ redis_maxmemory | default('256mb') }}
maxmemory-policy allkeys-lru
